$font: 'Open Sans', sans-serif;
$blue: #1cb6f9;
$green: #9bdf63;
$white: #fff;
$light-grey: #fafafa;
$yellow: #fff9b0;
$grey: #ddd;
$dark-grey: darken($grey, 50%);
$text-color: #000;
$code-red: #c82829;
$link-color: darken($blue, 10%);
$button-shadow: rgba(0, 0, 0, .12);
$top-shadow: rgba(0, 0, 0, .1);
$text-bottom-margin: 20px;
$text-left-margin: 20px;
$media-wide: 'only screen and (min-width: 750px)';
$media-narrow: 'only screen and (max-width: 750px)';
