.grid {
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

// Bar at the top, containing the logo and navigation menu.
.top {
  border-bottom: 1px solid $grey;

  header {
    align-items: center;
    grid-template-columns: 1fr 1fr;

    @media #{$media-wide} {
      grid-template-columns: 1fr 3fr;
    }
  }

  .grid {
    grid-gap: 0;
  }
}

// Logo displayed at the top left of the website.
.logo {
  font-size: 3rem;
  font-weight: bold;
  line-height: 60px;
  margin: 5px 0;

  img {
    display: none;
    float: left;

    @media #{$media-wide} {
      display: inline;
      grid-template-columns: 1fr 3fr;
    }
  }
}

// The main navigation menu.
.expand-menu {
  @media #{$media-wide} {
    display: none;
  }

  a {
    color: darken($grey, 50%);
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
  }
}

.main-menu {
  display: none;
  grid-column: 1 / -1;

  @media #{$media-wide} {
    display: block;
    float: right;
    grid-column: 2;
  }
}

.main-menu ul {
  margin: 0;
  padding: 0;

  @media #{$media-wide} {
    float: right;
  }

  li {
    list-style: none;
    margin: 0;

    @media #{$media-wide} {
      display: inline-block;
    }

    &:last-child a {
      padding-right: 0;
    }
  }

  a {
    color: $text-color;
    display: block;
    padding: 10px;
    text-decoration: none;

    &:hover {
      color: $link-color;
    }

    &.active {
      font-weight: bold;
    }
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

// Big block displayed on the homepage, including a short introduction to Inko
// and a list of code samples.
.jumbotron {
  background: $light-grey;
  box-shadow: inset 0 1px 2px $top-shadow;
  padding: 20px 0;

  .grid {
    grid-template-columns: 1fr;

    @media #{$media-wide} {
      grid-template-columns: 3fr 2fr;
    }
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 0;

    @media #{$media-wide} {
      font-size: 1.8rem;
    }
  }

  select {
    font-size: .8rem;
  }
}

.code-examples {
  display: none;

  @media #{$media-wide} {
    display: block;
  }

  .example {
    display: none;

    pre {
      background: $white;
      border: 1px solid $grey;
      font-size: 12px;
      margin: $text-bottom-margin / 2 0 0;
      overflow-y: auto;
      padding: 10px;
    }

    &.visible {
      display: block;
    }
  }
}

.page {
  box-shadow: inset 0 1px 2px $top-shadow;

  .grid {
    @media #{$media-wide} {
      grid-template-columns: 3fr 1fr;
    }
  }

  article {
    grid-row: 2;
    max-width: 690px;

    h1 {
      @media #{$media-narrow} {
        margin-top: 0;
      }
    }

    @media #{$media-wide} {
      grid-row: 1;
    }
  }
}

.sidebar {
  display: none;
  font-size: .9rem;
  grid-row: 1;
  margin-top: 10px;

  @media #{$media-wide} {
    display: block;
    margin-top: 35px;
  }

  h1 {
    font-size: 1rem;
  }

  li {
    list-style-type: none;
    margin-left: 0;
  }
}

.footer {
  border-top: 1px solid $grey;
  font-size: .7rem;

  footer {
    text-align: center;
  }

  p {
    margin: $text-bottom-margin / 2 0;
  }
}

.faq h3 {
  font-size: 1rem;
}

.news-index h1 {
  font-size: 1.2rem;
  margin: 0;
}

.news-meta {
  color: $dark-grey;
  font-size: .8rem;
  margin: 0;
}

.news-article h1 {
  margin-bottom: 0;
}

.news-article img {
  display: block;
  margin: 0 auto;
}

.missing-page {
  text-align: center;

  img {
    margin-top: 20px;
  }
}

.sidebar-manual {
  ol li {
    list-style: decimal inside;
  }
}

.expand-sidebar {
  margin-top: 20px;
  text-align: center;

  @media #{$media-wide} {
    display: none;
  }

  a {
    color: darken($grey, 50%);
    padding: 20px 20px 20px 0;
    text-decoration: none;
  }
}

.visible {
  display: block;
}

.highlights {
  .grid {
    grid-template-columns: 1fr;

    @media #{$media-wide} {
      grid-template-columns: 3fr 3fr;
    }
  }
}
